<html>
    <head>
    </head>
    <body>
        <div align = "center">

            <form method="post" action="/product" enctype="multipart/form-data">
                <label for="product_name">Product Name</label>
                <input type="text" name="product_name" placeholder="Product Name">
                <br><br>
                <label for="image1"> Image</label>
                <input type="file" name="uploaded_image1"/>
                <br><br>
                <label for="image2"> Image</label>
                <input type="file" name="uploaded_image2" />
                <br><br>
                <label for="image3"> Image</label>
                <input type="file" name="uploaded_image3" />
                <br><br>
                <label for ="price" >Price</label>
                <input type="number" name ="price" placeholder="Price">
                <br><br>
                <label for ="quantity" >Quantity</label>
                <input type="number" name ="quantity" placeholder="Quantity">
                <br><br>
                <button> Submit </button>
                
            </form>
        </div>
    </body>
</html>
     